.parent{
    -fx-background-color : transparent;
}
.trans-btn-white-border{
    -fx-background-color : transparent;
    -fx-background-radius : 5px;
    -fx-border-color :  white;
    -fx-border-width :  2px;
    -fx-border-radius : 15px;
    -fx-text-fill : white;
}
.white-pane{
        -fx-background-image : url("/java/images/image.jpg");
        -fx-background-size : 408 511;
        -fx-background-position : center center;
        -fx-background-color : white;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}
.table-view .column-header{
    -fx-background-color: transparent;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}